body {
  line-height: 2;
  font-size: 18px;
}

header {
  background: #eceef1;
  border-bottom: 1px solid #e0e3e6;
  padding: 40px 0px;
}

header h1 {
  margin-top: 0px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

nav ul {
  margin: 24px 0 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 12px 24px;
  color: white;
  background: blue;
  text-decoration: none;
}
  

.cover,
.content {
  width: 80%;
  margin: 0 auto;
}

.content p {
  margin: 0;
}

a {
  color: #ff007d;
}

p.lead {
  color: #6d6d6d;
  font-weigh: 300;
  font-size: 22px;
  margin-bottom: 12px;
}

.content h3 {
  font-size: 32px;
  margin-top: 40px; 
}

.cloud {
  border-radius: 3px;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
