:root {
  font-size: calc(1rem + .2vw);
  --bg-planet-shadow: #828894;
  --bg-planet-lightshadow: #8d939d;
}

@media (prefers-color-scheme: light) {
  html:not([data-theme="dark"]) {
    --bg-color: #f0f0eb;
    --secondary-bg-color: white;
    --accent-color: #B2C9A9;
    --ligt-accent-color: #F9FBF9;
    --heading-color: black;
    --primary-color: #62625c;
    --secondary-color: #808080;
    --secondary-text-bg-color: #ebebe5;
    --yellow-color: #ebd55b;
    --bg-planet-bright: #ebd55b;
  }
}

[data-theme="light"] {
  --bg-color: #f0f0eb;
  --secondary-bg-color: white;
  --accent-color: #B2C9A9;
  --ligt-accent-color: #F9FBF9;
  --heading-color: black;
  --primary-color: #62625c;
  --secondary-color: #808080;
  --secondary-text-bg-color: #ebebe5;
  --yellow-color: #ebd55b;
  --bg-planet-bright: #ebd55b;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    --bg-color: #13110b;
    --secondary-bg-color: black;
    --accent-color: #5A6756;
    --ligt-accent-color: #0C0E0C;
    --heading-color: #b8b8b6;
    --primary-color: #6e6e6d;
    --secondary-color: #5c5c5b;
    --secondary-text-bg-color: #110f0a;
    --yellow-color: #433806;
    --bg-planet-bright: #d7d7d8;
  }
}

[data-theme="dark"] {
  --bg-color: #13110b;
  --secondary-bg-color: black;
  --accent-color: #5A6756;
  --ligt-accent-color: #0C0E0C;
  --heading-color: #b8b8b6;
  --primary-color: #6e6e6d;
  --secondary-color: #5c5c5b;
  --secondary-text-bg-color: #110f0a;
  --yellow-color: #433806;
  --bg-planet-bright: #d7d7d8;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
  border: 4px solid var(--bg-color);
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

[data-theme="light"] body,
[data-theme="dark"] body {
  transition: background 0.3s;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

[data-style="secondary"].wrapper {
  background: var(--secondary-bg-color);
}

[data-style="secondary"] .label {
  background: var(--bg-color);
}

[data-style="stats"].wrapper {
  border-top: 10px solid var(--ligt-accent-color);
  border-bottom: 10px solid var(--accent-color);
  background: var(--secondary-bg-color);
}

.label {
  line-height: 1;
  border-radius: 1rem;
  padding: 4px 10px;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  background: var(--secondary-bg-color);
  color: var(--secondary-color);
}

h1, h4 {
  color: var(--heading-color);
}

.container .tippy-box {
  font-size: 0.8rem;
}

.textlink {
  color: inherit;
  font-weight: 500;
  transition: all 0.2s ease-in;
  transition: background-position 80ms ease-out 0s;
  background-image: linear-gradient(transparent 0px, var(--yellow-color) 0px);
  background-position: 0rem 0.8rem;
  background-repeat: no-repeat;
  text-decoration: none;
}
.textlink:hover {
  color: var(--heading-color);
  background-position: 0 0;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;
  padding: 8rem 0 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5715;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "IBM Plex Serif", "New York Medium", -apple-system-ui-serif,
    ui-serif, serif;
}

@media (max-width: 767px) {
  :root {
    font-size: calc(0.6rem + .2vw);
  }
}

* {
  box-sizing: border-box;
}
